node_modules/
dist/
*.log
cases/
.venv/
*.sqlite
*.sqlite-journal
.DS_Store
config/llm.json
config/mcp.json
.env
flow/dist/
flow/node_modules/
flow/*.tsbuildinfo
*.sqlite-shm
*.sqlite-wal
flow/package-lock.json
flow/vite.config.d.ts
flow/vite.config.js
flow/tsconfig.node.json
